# Environment variables
.env
docker-compose.override.yml

# Keep Dockerfiles
!**/Dockerfile*

# Logs
api/logs/*
!api/logs/.gitkeep

# Database
postgres/backups/*
!postgres/backups/.gitkeep

# Node modules
node_modules/

# Build outputs
dist/
build/

# IDE files
.idea/
.vscode/

# System files
.DS_Store 